#root {
    width: 100%;
    min-height: 100%;

    margin: 0;
    padding: 0;

    font-family: Hauora, serif;
    text-align: center;

    justify-content: center;
}

.main-header-container {
    display: flex;

    position: relative;
    top: 0;
    left: 0;

    width: 100%;

    justify-content: center;
    align-items: center;

    margin-top: 3.5rem;
}

.main-header {
    margin: 0;
    padding: 0;

    font-weight: bold;
}

.search-bar-container {
    display: flex;

    position: relative;
    top: 0;
    left: 0;

    margin-top: 2.5rem;

    width: 100%;

    justify-content: center;
    align-items: center;
}

.search-results-header-container {
    display: flex;

    position: relative;
    top: 0;

    margin-top: 0.5rem;

    width: 100%;

    justify-content: center;
    align-items: center;
}

.search-results-header-container-empty {
    height: 4.75rem;
}

.search-results-header {
    font-weight: bold;
}

.search-sorting-filtering-container {
    display: flex;

    position: relative;
    top: 0;

    width: 100%;

    justify-content: center;
    align-items: center;

    margin-top: 3rem;
}