#root {
  max-width: 1280px;

  margin: 0 auto;
  padding: 2rem;

  font-family: Hauora, serif;
  text-align: center;
}

.emoji {
  font-family: "Noto Color Emoji", sans-serif;
}

.main-header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 1.5rem;
}

.search-header {
  font-weight: bold;
}

.search-header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 15rem;
}