.emojis-grid-pages {
    display: flex;

    position: relative;
    top: 0;
    left: 0;

    width: 100%;

    gap: 0.5rem;

    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.emojis-grid-pages-button {
    background-color: #b1afaf;

    padding: 0.25rem 0.85rem;

    border: 1px solid #242424;
    border-radius: 0.7rem;

    font-size: 0.9rem;
    color: white;

    transition: background-color 0.3s;
}

.emojis-grid-pages-button:disabled {
    background-color: #424141;

    cursor: not-allowed;
}

.emojis-grid-pages-button:hover:not(:disabled) {
    background-color: #007bff;
}

.emojis-grid-pages-span {
    font-size: 0.9rem;
}