.loading-spinner {
    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;
}

.spinner {
    width: 3rem;
    height: 3rem;

    border: 0.15rem solid #b1afaf;
    border-radius: 50%;
    border-left-color: #ffffff;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}