.search-bar-container {
    display: flex;

    position: absolute;
    top: 0;
    left: 0;

    margin-top: 9.5rem;

    width: 100%;

    justify-content: center;
    align-items: center;
}

.input-form {
    width: 25rem;
    height: 1.25rem;
    padding: 0.75rem;

    background-color: #ffffff;

    border-radius: 0.7rem;
    border: 0.2rem solid #b1afaf;

    align-content: center;
    justify-content: center;

    font-family: Hauora, sans-serif;
    color: #000000;

    transition: border-color 0.3s;
}

.input-form:focus {
    border: 0.2rem solid #006fff;

    outline: none;
}

.input-form-clear-button {
    position: absolute;

    margin-left: 23.75rem;

    background: none;
    border: none;
    outline: none;

    cursor: pointer;

    font-size: 1.25rem;
    color: #b1afaf;

    transition: color 0.3s;
}

.input-form:focus .input-form-clear-button {
    color: #b1afaf;
}

.input-form-clear-button:hover {
    color: #006fff;
}